.btn {
    background-color: #1e65f4;
    border: none;
    color: white;
    padding: 10px 64px;
    text-align: center;
    font-size: 16px;
    margin: 4px 16px;
    opacity: 1;
    transition: 0.3s;
}

h1 {
    text-align: center;
    margin: auto;
}